body{
    color: white;
    background: black;
    margin: 0px;
    font-family: "Bungee Tint", sans-serif;
}

header {
    border-bottom: solid 2px rgb(234, 7, 7);
    padding: 20px;
    font-size: 32px;
    color: rgb(234, 7, 7);
}

 .chamada {
    background: rgba(14, 17, 131, 0.795) 
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
}

.categoria-videos img:hover {
    opacity: 1.0;
}

